<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora!!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div>
          Test
        </div>
      </ion-col>
      <ion-col>
        <div>
          Test
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Calculator -->

  <ion-grid class="calculator">
    <!-- Ans % CE AC -->
    <ion-row>
      <ion-col size="3">
        <ion-button class="dark-button">
          Ans
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="dark-button">
          %
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="red-button">
          CE
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="red-button">
          AC
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- 7 8 9 / -->
    <ion-row>
      <ion-col size="3">
        <ion-button class="gray-button">
          7
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="gray-button">
          8
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="gray-button">
          9
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="dark-button">
          /
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- 4 5 6 * -->
    <ion-row>
      <ion-col size="3">
        <ion-button class="gray-button">
          4
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="gray-button">
          5
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="gray-button">
          6
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="dark-button">
          *
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- 1 2 3 - -->
    <ion-row>
      <ion-col size="3">
        <ion-button class="gray-button">
          1
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="gray-button">
          2
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="gray-button">
          3
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="dark-button">
          -
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- 0 00 . = -->
    <ion-row>
      <ion-col size="3">
        <ion-button class="gray-button">
          0
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="gray-button">
          00
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="gray-button">
          .
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="dark-button">
          +
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- 000 ( ) = -->
    <ion-row>
      <ion-col size="3">
        <ion-button class="gray-button">
          000
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="dark-button">
          (
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="dark-button">
          )
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button class="dark-button">
          =
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
