div {
  width: 100%;
  height: 30px;
  background-color: grey;
  text-align: center;
  color: red;
}

.calculator {
  background-color: rgb(37, 37, 37);
  padding: 5%;
}

ion-button {
  width: 100%;
  height: 100%;
  margin: 10px;
}

.dark-button {
  --background: rgb(63, 63, 63);
  color: white;
}

.red-button {
  --background: rgb(219, 70, 70);
  color: white;
}

.gray-button {
  --background: rgb(128, 128, 128);
  color: white;
}