div {
  width: 100%;
  height: 30px;
  background-color: grey;
  text-align: center;
  color: red;
}


.calculator {
  background: linear-gradient(
    270deg,
    rgb(49, 3, 3),
    rgb(8, 8, 8)
  );
  padding: 5%;
  transition: all 0.3s ease-in-out;
  background-size: 600% 600%;
  animation: fadeIn 8s ease infinite;
}

@keyframes fadeIn {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

ion-col.display {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: white;
  border-radius: 10px;
  min-height: 60px;
}

ion-col {
  margin: 0;
}

ion-button {
  width: 100%;
  height: 10%;
  padding: 1%;
  text-transform: none;
  transition: transform 0.08s ease-in-out;
  
}

ion-button:active {
  filter: brightness(0.8);
  transform: scale(0.8);
  
}

.title {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
}

.stored-result {
  text-align: right;
  color: white;
  padding-right: 10px;
  padding-top: 10px;
}

.dark-button {
  --background: rgb(63, 63, 63);
  color: white;
}

.red-button {
  --background: rgb(219, 70, 70);
  color: white;
}

.gray-button {
  --background: rgb(128, 128, 128);
  color: white;
}

.dark-blue-button {
  --background: rgb(70, 70, 219);
  color: white;
}